
body{
	width: 70%;
	top: 50px;
	margin: auto;
}

h2{
	background-color: #96C6B0;
	padding: 20px;
	text-align: center;
	margin: 0;

}
h3{
	background-color: #96C6B0;
	text-align: center;
}
p{
	font: 10px;
	background-color:#EBE4E0;
	font-family: 'Explora', cursive;
	font-size: 1.5em;
	margin: 0;
}

.btn{
	width: 100%;
	
}